@{
    ViewData["Title"] = "APBD cw. 8";
}

<div class="text-center mt-5">

    <h1 class="display-3">
        APBD ćwiczenie 8
    </h1>

    <div class="text-muted mb-4">
        ASP.NET Core MVC • ADO.NET • SQL Server 2022
    </div>

    <hr class="w-50 mx-auto mb-5" />

    <div class="row justify-content-center">

        <div class="col-md-6 col-lg-4">

            <div class="d-grid gap-3">

                <a asp-controller="Books"
                       asp-action="Index"
                       class="btn btn-primary btn-lg">
                    📘 Books
                </a>

                <a asp-controller="Books"
                       asp-action="Create"
                       class="btn btn-primary btn-lg">
                    📘 Create Book
                </a>

                <a asp-controller="Authors"
                       asp-action="Index"
                       class="btn btn-primary btn-lg">
                    🎫 Authors
                </a>

                <a asp-controller="Borrowings"
                       asp-action="Create"
                       class="btn btn-primary btn-lg">
                    📘 Borrow Book
                </a>

            </div>

        </div>

    </div>

    <div class="mt-5 text-muted">
        Laboratory Exercise 8
    </div>

</div>