@model IEnumerable<APBD_cw8_s29640.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Books count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>@author.Books.Count</td>
            </tr>
        }
    </tbody>
</table>